<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
   


    <title>Document</title>
</head>
<body>

    <div class="block vh-100 w-100">

    
    <%- include('../components/header.ejs') %>
<div class="mt-5 container h-75 ">
    <%-body%>
</div>

 

<div class="mt-5 ">
    <%- include('../components/footer.ejs') %>
</div>
    


</div>

</body>
</html>